{
  plugins: [
    "react"
  ],
  "extends": ["standard", "plugin:react/recommended"],
  "env": {
    browser: true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      jsx: true
    },
    "sourceType": "module"
  },
  "rules": {
    "spaced-comment": 0
  }
}
